aside{
  background-color: $body;
  font-family: $font2;
  
  form{
    font-size:3vh;
    margin:2rem;
    max-width: 90%;
  }
  
  img {
    max-width: 100%;
    height: auto;
}
  
   div[class^="col-lg-2 col-md-3 col-sm-4 col-xs-12"]{
    border-style: solid;
    border-color:$university;
    border-width:0.5vh;
    text-align: center;
    border-radius: 1rem;
    background-color: $university;
     margin-top: 1rem;
     padding: 0.5vh;
    }
  
  
  
}