footer{
  background-color: $nav;
  font-family: $font1;
  padding:1rem;
  
    h6{
    margin: 0;
    }

  .fab{
    padding-left: 2rem;
    padding-right: 2rem;
  
    }
    nav {
    list-style: none;
  
    a{
    color: $fontcolor1;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1rem;
  
  &:hover {
  color:#9ecba8;
  transition: all 2s ease 0s;
      }
    }
  }
}