header{
  background-color: $nav;
  font-family: $font2;
  //padding: 1rem;
  
  .fab{
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    
  }
  
  form{
    text-align: center;
  }
  
  nav {
    text-align: left;
    list-style: none;
  
  a{
    color: $fontcolor1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 3vh;
    
  
  &:hover {
    background-color: $highlight;
    color:$hover;
    transition: all 2s ease 0s;
    text-decoration:none;
      }
    }
  }
}
