@import 'globals/colors';
@import 'globals/typography';
@import 'components/header';
@import 'components/section';
@import 'components/aside';
@import 'components/footer';
@import 'components/grid';
@import 'components/styles';

article{
  
  .map{
    width:80%;
  }
  
  
  img{
    width:90%;
    border-style: solid;
    border-radius: 2rem;
    padding: 2vh;
    background-color: $border;
    margin: 2vh;
  }
  form{
    text-align: center;
  }
  
  textarea{
    max-width: 100%;
  }
  
  fieldset{
    width:40%;
    margin:auto;
 }
  
  h4{
    text-align: center;
  }
}