@import 'globals/colors';
@import 'globals/typography';
@import 'components/header';
@import 'components/section';
@import 'components/aside';
@import 'components/footer';
@import 'components/grid';
@import 'components/styles';

article{
  
  .research{
    width:60%;
    margin: auto;
    padding-left: 5vh;
  }
  .google{
    padding-left: 5vh;
    padding-left: 5vh;
    width: 90%; 
    height: 100%;
<<<<<<< HEAD
    min-height: 40vh;
  }
  
=======
  } 
>>>>>>> gh-pages
}
